.container {
   display: block;
   justify-content: center;
   /* padding: 0 0.5rem; */
   width: 100%;
}

.btnToggle {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem;
   border: 0;
   border-radius: 5px;
   background: var(--blue);
   color: #FFF;
   /* font-size: 1.25rem; */
   /* font-weight: 600; */
   transition: background-color 0.1s;
}

.btnToggle:not(:disabled):hover {
   background: var(--blue-dark);
}

.btnToggleActive {
   background: var(--black-white);
   border: 2px solid var(--title);
   color: var(--title);
}

.btnToggleActive:not(:disabled):hover {
   background: var(--red);
   color: var(--black-white);
}

.btnToggle:disabled {
   background: var(--black-white);
   border: 2px solid var(--text);
   color: var(--text);
   cursor: not-allowed;
}

.bulb {
   filter: invert(99%) sepia(1%) saturate(4887%) hue-rotate(282deg) brightness(115%) contrast(100%);
   border-radius: 50%;
   width: 25px;
}

/* The switch - the box around the slider */

.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

/* The slider */

.sliderRound {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
   border-radius: 34px;
}

.sliderRound:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
   border-radius: 50%;
}

input:checked+.sliderRound {
   background-color: #2196F3;
}

input:focus+.sliderRound {
   box-shadow: 0 0 1px #2196F3;
}

input:checked+.sliderRound:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}